output/
build/
host/
dl/
toolchain/
*.tar.gz
*.img
*.iso
*.dtb
*.dtbo
*.xz
*.zip
*.patch~
buildroot/
buildroot/output/
buildroot/dl/
buildroot/host/
buildroot/build/
buildroot/toolchain/
*.tar
*.tar.*
